@layer theme, base, mui, components, utilities;
@import 'tailwindcss';


:root {
  --background: #0e162b;
  --foreground: #171717;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Custom animations */
.bubbles{
  position:absolute;
  bottom: 25%;
  left:0;
  width:100%;
  height:100%;
  z-index:0;
  transform:translateZ(0);
}
.bubbles li{
  position:relative;
  list-style:none;
  display:block;
  background-color:rgba(255,255,255,0.05);
  bottom: -100%;
  animation: square 20s infinite;
  transition-timing-function: linear;
  box-shadow: 0px 0px 80px #00b248; 
  border: 1px solid #00b248 !important;
}

.bubbles li:nth-child(1){
  width:40px;
  height:40px;
  left:20%;
}


.bubbles li:nth-child(2){
  width:60px;
  height:60px;
  left:40%;
  animation-delay:2s;
  animation-duration:17s;
}


.bubbles li:nth-child(3){
  width:60px;
  height:60px;
  left:60%;
  animation: circle 13s infinite;
  animation-delay:4s;
  border-radius:50%;
  border-color:transparent;
 
}


.bubbles li:nth-child(4){
  width:80px;
  height:80px;
  left:80%;
  animation-delay:1s;
  animation-duration:22s;
  
}

.bubbles li:nth-child(5){
  width:50px;
  height:50px;
  left:50%;
  animation: cube 30s infinite;
  animation-delay:1s;
  
  border-radius:15%;
  border-color:transparent;
}

.bubbles li:nth-child(6){
  width:100px;
  height:40px;
  left:25%;
  animation: cube 20s infinite;
  animation-delay:7s;
  animation-duration:20s;
  
  border-radius:15%;
  border-color:transparent;
}

.bubbles li:nth-child(7){
  width:50px;
  height:50px;
  left:92%;
  animation: cube;
  animation-delay:7s;
  animation-duration:10s;
  
  border-radius:10%;
  border-color:transparent;
}

.bubbles li:nth-child(8){
  width:50px;
  height:50px;
  left:0;
  animation: cube 30s infinite;
  animation-delay:1s;
  border-radius:25%;
  border-color:transparent;
}


@keyframes square{
  0%{
    transform:translateY(0);
    opacity:1;
  }
  100%{
    transform:translateY(-800px) rotate(630deg);
    opacity:0.2;
  }
}

@keyframes cube{
  0%{
    transform:translateY(0) rotate(90deg);
    opacity:1
  }
  100%{
    transform:translateY(-800px) rotate(-630deg);
    opacity:0.2;
  }
}

@keyframes circle{
  0%{
    transform:translate(0, 0);
    opacity:1;
  }
  100%{
    transform:translate(-5px, -800px) rotate(630deg);
    opacity:0.2;
  }
}